/* googleフォント */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.noto-sans jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-sans jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#page{
    margin: 50px;
}
body{
    font-family: 'Noto Sans JP';
    font-size: large;
    margin: 15px;
    margin-bottom: 0;
}
.icon{
    height:64px;
    border-radius: 20%;
    vertical-align:middle;
    margin-right: 15px;
    margin-bottom: 10px;
}
a[href="./index.html"]:hover{
    background: none;
}
ul{
    margin-top: 10px;
}
/* img {
    width: 400px;
    margin-right: 100px;
    margin-top: 5pc;
    margin: 0 auto;
    display: block;
} */


em{
    font-size: x-large;
    background-color: rgb(231, 244, 255);
    padding-left: 10%;
}
.styled:hover {
    background-color: rgb(251, 186, 247);
}
.styled:active {
    box-shadow:inset 0 0 5px 1px black;
}
a:hover {
    /* border-radius: 5px; */
    text-decoration: none;
    background-color: #00000035;
}

.sp{
    color:blue
}

/* フッター設定 */
footer{
    width:100vw;
    text-align: center;
    background-color: lightblue;
    bottom: 0;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}
footer::after{
    content:"Copyright: HAYAB";
    font-size: small;
    margin: 5px;
    display: block;
}
body {
	min-height: calc(100vh - 30px);
	position: relative;
	box-sizing: border-box;
	padding-bottom: 50px;
}